$link-blue: #002f9d;
$white: rgba(255,255,255,1);
$shade-white: #adaeaf;
$dirty-white: #ccd2de;
$black: #000;
$grey: #7e7e7e;
$soft-gray: #d6d2d2;
$solid-white: #f2f2f2;
$dark-blue: #021f59;
$background-blue: #002f9d;
$light-blue: #38bdff;
$lighter-blue: #3b5fb4;
$tab-title: #02226b;
$light-brown: #959595;
$mix-blue: #132e64;
$locked: #b3b8bd;
$pure-blue: rgb(4, 4, 252);
$devil-brown: #666666;